---
layout: page
image:
  feature: "2017-11 - fleur de lis fling 2 color web.png"
  center: y
---

{% include calendar.html height='400' width='100%' %}

<header class="entry-header">
  <h1 class="entry-title">Latest Posts</h1>
</header>

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>